*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    height: 100%;
    /* background-color: green; */
}
.header{
    text-align: center;
}
.main{
    display: grid;
    padding: 4rem;
    row-gap: 25px;
    column-gap: 25px;
    grid-template-rows:repeat(2,1fr) ;
    grid-template-columns:repeat(3,1fr) ;
}
.top{
    position: relative;
    overflow:hidden ;
    height: 14rem;
}
#topimg{

    border-top-left-radius: 30px;
    border-top-right-radius:30px ;
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.leftbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#bottomimg{
    border-radius: 50%;
    width: 60px;
    height:  60px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.middle ,h2 ,p{
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 30px;
    border: 1px solid black;
    /* width: auto; */
}
#cart{
    border:3px solid black;
}
