*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #a3a1bf;
  background: linear-gradient(
    197deg,
    rgba(163, 161, 191, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
    width: 500px;
    height: 600px;
    background-color: azure;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.box img{
    width: 80%;
    height: 40%;
    border-radius: 20px;
}

.box  h2{
    font-weight: bold;
    font-size: 1.5rem;

}

.box p{
    font-size: 1.5em ;
}