* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #a3a1bf;
  background: linear-gradient(
    197deg,
    rgba(163, 161, 191, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 500px;
  height: 600px;
  background-color: azure;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.box img {
  width: 100%;
  height: 30%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  text-align: center;
}
#amountbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left:20px ;
  padding-right: 20px;
  width: 80%;
  height: 10%;
  background-color: grey;
  border-radius: 10px;
}
#paymentbox {
  width: 80%;
  height: 10%;
  background-color: rgb(21, 9, 41);
  border-radius: 10px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#cancelbox a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
#leftbox{
    width: fit-content;
    height: 100%;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}
#leftbox img{
    border-radius: 50%;
    padding: 2px;;
    height: 50px;
    width: 50px;
}
#rightbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rightbox a{
    text-decoration: none;
    color: rgb(203, 153, 245);
    font-size: large;
    font-weight: bold;
}