.container{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 255, 0.356);
    padding:30px;
    padding-top: 50px;
    margin: 3px;
    border: 0.2px solid black;
    box-shadow: rgb(211, 112, 181) 5px 5px 6px ;
        transition: background-color 0.4s ease, opacity 0.4s ease;
        cursor: pointer;


    /* box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%); */


}
    .container:hover{
        background-color: rgb(173, 171, 171);
        opacity: 0.8;
    }
#first_row{
    display: flex;  
    margin-left: 50px;

}
#second_row{
    display: flex;
    margin-left: 50px;
}
#third_row{
    display: flex;
    margin-left: 50px;
}
#para{
    text-shadow: 5px 5px 8px rgb(10, 10, 10);
}
#sub{
    position: relative;
    top: 250px;
    /* right: auto; */
    /* border: 1px solid green; */
    height: 20px;
            transition: background-color 0.4s ease, opacity 0.4s ease;
        cursor: pointer;
    box-shadow: rgb(80, 78, 79) 5px 5px 6px ;

}
#sun:hover{
    background-color: rgb(138, 135, 135);
    opacity: 1;
}
 /* button{
    border: 1px solid green;
    position: relative;
    top: 200px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(80, 78, 79) 5px 5px 6px ;
 } */
.box {
  width: 100px;
  height: 100px;
  background: blue;
  animation: moveBox 2s infinite;
  animation-direction: alternate;
}

@keyframes moveBox {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}
